
.pkcalc-banner > a > img {
    height: 70px;
    float: left;
    padding: 0.4px;
    padding-bottom: 0px;
    transition-duration: 500ms;
}

#geo-logo > img {
    height: 60px !important;
    margin-top: 5px;
    margin-left: 40px;
}

.pkcalc-banner > a > img:hover {
    filter: brightness(2);
}

.pkcalc-banner > img {
    height: 36px;
    float: right;
    margin: 10px;
    transition-duration: 500ms;
}

.pkcalc-banner h2 {
    font-size: 20pt;
    font-family: "Times";
    font-weight: 200 !important;
    letter-spacing: 1px;
    position: center;
    top: 5px;
    margin-left: 165px;
}
    
.pkcalc-banner {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px 0px;
    width: 100%;
    background: rgb(2, 21, 70);
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}


.pkcalc-bannerder > a > img {
    height: 70px;
    float: right;
    padding: 0.4px;
    padding-bottom: 0px;
    transition-duration: 500ms;
}

#derecha-logo > img {
    height: 60px !important;
    margin-top: 5px;
    margin-right: 20px;
}

.pkcalc-bannerder {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 0px;
    width: 100%;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

.container {
    max-width: 1200px;
    position: relative;
    top: 190px;
    margin-bottom: 20px;
}

.container-radio {
    max-width: 1200px;
    position:relative;
    top: 120px;
    margin-bottom: 0px;
}

.map {
    max-width: 1200px;
    position: relative;
    top:150px;
    margin-bottom: 20px;
}

.pkcalc-banner-footer > a > img {
    height: 70px;
    float: left;
    padding: 0.4px;
    padding-bottom: 0px;
    transition-duration: 500ms;
}

.pkcalc-banner-footer > a > img:hover {
    filter: brightness(2);
}

.pkcalc-banner-footer > img {
    height: 36px;
    float: right;
    margin: 10px;
    transition-duration: 500ms;
}

.pkcalc-banner-footer h2 {
    font-size: 15pt;
    font-family: "Times";
    font-weight: 200 !important;
    letter-spacing: 1px;
    position: left;
    margin-left: 40px;
}
    
.pkcalc-banner-footer {
    position:absolute;
    top:2570px !important;
    left: 0px;
    padding: 10px 0px;
    width: 100%;
    background: rgb(2, 21, 70);
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

.p {
    font-size: 14pt;
    font-family: "Times";
    font-weight: 150!important;
    letter-spacing: 1px;
    position: relative;
    top: 170px;
    margin-left: 20px;
}

.histogramas{
    position:relative;
    top:150px !important;
    right: 0px;
    padding: 10px 0px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 30px;
}